
@font-face {
  font-family: Roboto;
  src: url("Roboto-Light.ttf");
}

* {
  font-family:Roboto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

.page_container {
  display: grid;
  grid-template-columns:2fr 8fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.aside_container {
  display: grid;
  grid-template-rows: 0.23fr 0.03fr 0.35fr 0.03fr 1.25fr 0.03fr;
  background-color: rgb(254, 202, 7);
  font-size:1em;
  min-width:200px;
  max-width:400px;
  height:100%;
  align-items:stretch;
  overflow:auto;
}

#div_profilepic {
  display:table;
  margin: 0 auto;
  height:100%;
  max-height:200px;
  width:100%;
  position: relative;
  box-sizing: border-box;
}

#profilepic_span {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  width:100%;
  height:230px;
}

img#profilepic {
  height:60%;
  width: 140px;
  border-radius: 50%;
  border:3px solid rgba(155, 155, 155, .2);
}

#section_title1 {
  background-color: rgb(64, 64, 64);
  color: rgb(254, 202, 7);
  text-align: center;
  padding: 5px 0;
  font-weight:1000;
  max-height:32px;
}

#section_title2 {
  margin-top:10px;
  background-color: rgb(64, 64, 64);
  color: rgb(254, 202, 7);
  text-align: center;
  padding: 5px 0;
  font-weight:1000;
  max-height:32px;
}

#section_title3 {
  margin-top:10px;
  background-color: rgb(64, 64, 64);
  color: rgb(254, 202, 7);
  text-align: center;
  padding: 5px 0;
  font-weight:1000;
  max-height:32px;
}

#section_title1 h3 {
  font-size: 22px;
  margin: 0px;
  line-height:100%;
}

#section_title2 h3 {
  font-size: 22px;
  margin: 0px;
  line-height:100%;
}

#section_title3 h3 {
  font-size: 22px;
  margin: 0px;
  line-height:100%;
}

#contact_info_div {
  display: flex;
  flex-flow:column nowrap;
  padding: 10px 5px;
}

.contact_info {
  font-weight: 1000;
  padding: 0px 10px;
  font-style: normal;
}

.contact_info p {
  margin:15px;
}

div.contact_info:nth-child(2) {
  
}

div.contact_info p a, div.contact_info p a:visited, div.contact_info p a:hover, div.contact_info p a:active {
  color: #000000;
  text-decoration: none;
}

.profile_description {
  padding: 20px 30px;
  text-align: justify;
  height:400px;
}

.aside_container footer {
  align-self: flex-end;
  padding-bottom: 40px;
}

.leisure {
  padding: 0 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.leisure_icon {
  height:50px;
  width:50px;
  border:solid rgb(64, 64, 64);
  border-radius: 50%;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.leisure_icon img {
  height:35px;
  width:35px;
  vertical-align: middle;
}

.filter-grey {
  filter: invert(24%) sepia(7%) saturate(10%) hue-rotate(63deg) brightness(91%) contrast(90%);
}

.filter-yellow {
  filter: invert(77%) sepia(48%) saturate(924%) hue-rotate(355deg) brightness(102%) contrast(99%);
}

.main_container {
  background-color: white;
  padding: 0px 40px;
}

.main_section_container {
  margin:0px;
  margin-bottom:30px;
}

header {
  margin-bottom: 70px;
}

header h1 {
  margin-top:70px;
  margin-bottom:0px;
  font-size: 2.5em;
}

header h4 {
  margin-top:0;
  font-size: 2em;
}

#Guillaume {
  color: rgb(254, 202, 7);
}

#dev_underline {
  border-bottom: solid 1px rgb(254, 202, 7);
}

.main_section_header {
  margin-top:10px;
  padding-bottom:5px;
  border-bottom: solid 1px rgb(254, 202, 7);
}

h4 img {
  height:18px;
  width:18px;
  margin-right:10px;
}

div.main_section_header h4 {
  margin:0;
  font-size:1.8em;
  font-weight:1000;
}

div.main_section_unit {
  display:flex;
  flex-direction:row;
  padding-top:30px;
}

.main_section_unit_dates {
  font-size: 0.8em;
  font-weight: 700;
  width:180px;
  padding-right:20px;
  word-wrap: break-word;
  flex-shrink:0;
}

div.main_section_unit_content {
  padding:0;
}

div.main_section_unit_dates p{
  margin:0;
}

div.main_section_unit_dates p img {
  height:7px;
  width:7px;
  margin-right:10px;
  box-sizing:content-box;
}

img.icon1_border {
  box-sizing:border-box;
  padding: 1px;
  border:2px solid rgba(254, 202, 7);
  border-radius:50%;
}

img.icon1_border_white {
  box-sizing:border-box;
  padding: 1px;
  border:2px solid rgba(255, 255, 255);
  border-radius:50%;
}

div.main_section_unit_dates p:nth-child(1) img {
  margin-right:15px;
}

div.main_section_unit_dates p:nth-child(2) {
  margin-left:22px;
}

.main_container > section:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) p img, 
.main_container > section:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) p img {
  height:10px;
  width:10px;
  margin-right:11px;
}


div.main_section_unit_content h6 {
  margin:0;
  margin-bottom: 5px;
  font-size: 1.2em;
}

div.main_section_unit_content p {
  margin-top:5px;
  margin-bottom:5px;
  font-size: 1em;
}

div.main_section_unit_content ul {
  margin:0px;
  text-align:justify;
  padding-left:5px;
}

div.main_section_unit_content ul li {
  font-size: 1em;
  text-align:justify;
}

div.main_section_unit_content h5 {
  margin:0;
  margin-bottom:5px;
  font-size: 1.4em;
}

div.main_section_container div.main_section_unit div.main_section_unit_content {
  padding-bottom: 0px;
}

.nopaddingtop {
  padding-top: 15px;
}

div.main_section_unit_reco_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}

#reco_width_shrink {
  max-width:500px;
  padding-top: 20px;
}

div.main_section_unit_reco {
  font-size: 1em;
  font-weight: 700;
  min-width: 120px;
  flex-shrink:0;
  margin-right: 50px;
}

div.main_section_unit_reco p {
  margin-bottom:10px;
}

.smalltext {
  font-weight:100;
}

}