@font-face {
  font-family: Roboto;
  src: url("Roboto-Light.ttf");
}

* {
  font-family:Roboto;
}

body {
  height: 100%;
}

.page_container {
  display: grid;
  grid-template-columns:2fr 8fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.aside_container {
  display: grid;
  grid-template-rows: 1.35fr 0.25fr 2fr 0.25fr 4.5fr 0.25fr;
  background-color: rgb(254, 202, 7);
  font-size:10px;
  min-width:200px;
  height:100%;
  align-items:stretch;
}

.inline_block {
  display:inline;
}

.section_title {
  background-color: rgb(64, 64, 64);
  color: rgb(254, 202, 7);
  text-align: center;
  padding: 5px 0;
  font-weight:1000;
  vertical-align:middle;
  grid-auto-rows: auto;
}

.section_title h3 {
  font-size: 22px;
  vertical-align:middle;
  margin:0;
}

#div_profilepic {
  text-align: center;
  margin: auto;
}

img#profilepic {
  height:150px;
  width:150px;
  border-radius: 50%;
}

.contact_info {
  font-weight: 700;
  padding:20px 30px;
}

div.contact_info p a, div.contact_info p a:visited, div.contact_info p a:hover, div.contact_info p a:active {
  color: #000000;
  text-decoration: none;
}

.profile_description {
  padding: 20px 30px;
  text-align: justify;
  height:400px;
}

.aside_container footer {
  align-self: flex-end;
  padding-bottom: 20px;
}

.leisure {
  padding: 0 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.leisure_icon {
  height:50px;
  width:50px;
  border:solid rgb(64, 64, 64);
  border-radius: 50%;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.leisure_icon img {
  height:35px;
  width:35px;
  vertical-align: middle;
}

.filter-grey {
  filter: invert(24%) sepia(7%) saturate(10%) hue-rotate(63deg) brightness(91%) contrast(90%);
}

.filter-yellow {
  filter: invert(77%) sepia(48%) saturate(924%) hue-rotate(355deg) brightness(102%) contrast(99%);
}

.main_container {
  background-color: white;
  padding: 0px 40px;
}

.main_section_container {
  margin:0px;
  margin-bottom:30px;
}

header {
  margin-bottom: 70px;
}

header h1 {
  margin-top:70px;
  margin-bottom:0px;
  font-size: 1.7em;
}

header h4 {
  margin-top:0;
  font-size: 0.9em;
}

#Guillaume {
  color: rgb(254, 202, 7);
}

#dev_underline {
  border-bottom: solid 1px rgb(254, 202, 7);
}

.main_section_header {
  margin-top:10px;
  padding-bottom:5px;
  border-bottom: solid 1px rgb(254, 202, 7);
}

h4 img {
  height:18px;
  width:18px;
  margin-right:10px;
}

div.main_section_header h4 {
  margin:0;
  font-size:25px;
  font-weight:1000;
}

div.main_section_unit {
  display:flex;
  flex-direction:row;
  padding-top:30px;
}

.main_section_unit_dates {
  font-size: 0.5em;
  font-weight: 700;
  width:120px;
  padding-right:20px;
  word-wrap: break-word;
  flex-shrink:0;
  max-width:
}

div.main_section_unit_content {
  padding:0;
}

div.main_section_unit_dates p{
  margin:0;
}

div.main_section_unit_dates p img {
  height:5px;
  width:5px;
  margin-right:10px;
}

div.main_section_unit_dates p:nth-child(1) img {
  margin-right:15px;
}

div.main_section_unit_dates p:nth-child(2) {
  margin-left:22px;
}

.main_container > section:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) p img, 
.main_container > section:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) p img {
  height:10px;
  width:10px;
  margin-right:11px;
}


div.main_section_unit_content h6 {
  margin:0;
  margin-bottom: 5px;
  font-size: 0.5em;
}

div.main_section_unit_content p {
  margin-top:5px;
  margin-bottom:2px;
  font-size: 0.5em;
  text-align:justify;
}

div.main_section_unit_content ul {
  margin:0px;
  text-align:justify;
  padding-left:5px;
}

div.main_section_unit_content ul li {
  font-size: 0.5em;
  text-align:justify;
}

div.main_section_unit_content h5 {
  margin:0;
  margin-bottom:5px;
}

div.main_section_container div.main_section_unit div.main_section_unit_content {
  padding-bottom: 0px;
}

#main_section_unit_nopaddingtop {
  padding-top: 15px;
}


div.main_section_unit_reco_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reco_width_shrink {
  max-width:500px;
  padding-top: 20px;
}

div.main_section_unit_reco {
  font-size: 10px;
  font-weight: 700;
  min-width: 120px;
  flex-shrink:0;
}

#smalltext {
  font-weight:100;
}

.main_container footer p a {
  font-size:0.5em;
}

body {
  font-size: 130%;
  margin:0;
}










@media screen and (max-width: 800px)
{


